.form-label {
    color: peru;
}
.container-fluid{
    width: 50%;
    margin-left: 20px;
}
.form-control {
    width: 50%;
}

.container{
    display: flex;
    align-items: center;
    margin-left: 100px;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 20px;
}

